.services {
  padding: 80px 0;
  background: $background-color;
  

  .services-center {
    margin-top: 75px;

    .services-left {
      display: flex;
      align-items: center;
      justify-content: flex-end; 

      @media (max-width:767px){
        justify-content: center;
        margin-bottom:30px;
      }
    }

    .services-right {
      display: flex;
      align-items: center;
      justify-content: flex-start;

       @media (max-width:767px){
        justify-content: center;
      }
    }

  }
}
