// color declaration
$primary-color: #ffc619;
$secondary-color: #141414;
$white: #ffffff;
$black: #000000;
$text-color: #333333;
$border-color: #e1e6ef;
$deep-color: #636466;
$light-color: rgba(51, 51, 51, 0.5);
$text-danger: red;
$background-color:#F6F6F6;
$off-white: #fafafa;
$orange-color:#8D4F26;


