.onetime {
  height: 100vh;
  width: 100%;
  // margin-top:80px;

  .onetime-left {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    h1 {
      @include heading($font-44, 500);
      font-family: $secondary-font;
      line-height: 60px;
      margin-bottom: 18px;
    }

    p {
      @include body-text($font-16, 400, $text-color);
      margin-bottom: 10px;
      line-height: 30px;
      width: 80%;
    }
  }

  .onetime-right {
    height: 100vh;
    padding-top: 80px;

    img {
      // margin-top:150px;
      width: 100%;
      // object-fit:cover;
      height: 100%;
    }
  }
}

.note {
  padding: 80px 0;
  background: $white !important;
  width: 100%;

  .container {
    padding: 0 70px !important;
  }

  h4 {
    @include heading(28px, 400, $black);
    text-align: center;
    line-height: 40px;

    span {
      font-style: italic;
      font-size: 28px;
    }
  }
}

.comprehensive-switch {
  border: 1px solid $border-color;
  display: flex;
  width: 100%;

  .switch-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  }

  .switch-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background: $black;
    color: $white;
  }
}

.content {
  padding: 50px 0;

  p {
    @include body-text(16px, 400, $text-color);
    line-height: 35px;
  }
}
