.ultra-high {
  .content-section {
    background: $background-color;
    // padding: 0 130px 50px 130px;

    .content-container {
      background: $white;
      padding: 80px;

      .col-left {
        padding-right: 50px;

        h3 {
          @include heading(28px, 400, $black);
          margin-bottom: 15px;
          font-family: $secondary-font;
          line-height: 40px;
        }

        p {
          @include body-text(16px, 400, $text-color);
          line-height: 30px;
          margin-bottom: 30px;
        }
      }

      .col-right {
        background: $hero-background;
        padding: 40px 30px;

        h3 {
          @include heading(28px, 400, $black);
          margin-bottom: 15px;
          font-family: $secondary-font;
          line-height: 40px;
        }

        p {
          @include body-text(16px, 400, $text-color);
          line-height: 30px;
          margin-bottom: 30px;
        }

        button {
          @include buttons(black);
          border-radius: 0;
        }
      }
    }
  }
}
