.about-us {
  // height:100vh;

  .who-we-are {
    background: $black;
    padding: 80px 0;

    h3 {
      @include heading($font-22, 500, $white);
      font-family: $secondary-font;
    }

    p {
      @include body-text($font-16, 500, $white);
      line-height: 30px;
    }

    .left {
      border-right: 1px solid $border-color;
      height: 120px;
      display: flex;
      align-items: center;
    }

    .right {
      height: 120px;
      display: flex;
      align-items: center;
      padding-left: 50px;
    }
  }

  .experience {
    padding: 80px 0;

    .left {
      height: 400px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-image: url('../../../public/images/scroll.svg');
      // background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      h3 {
        @include heading($font-50, 400);
        font-family: $secondary-font;
      }

      .bi {
        font-size: $font-50;
      }
    }

    .right {
      height: 400px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      p {
        line-height: 35px;
      }
    }
  }

  .expertise {
    padding: 80px 0;
    background: $black;

    .left {
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;

      .bi {
        color: $white;
        font-size: $font-42;
      }

      h3 {
        @include heading($font-34, 400, $white);
        font-family: $secondary-font;
        margin-bottom: 22px;
        display: flex;
      }

      p {
        @include body-text($font-16, 400, $white);
        margin-bottom: 10px;
        width: 90%;
      }
    }

    .right {
      height: 400px;
      background-image: url('../../../public/images/expertise-image.svg');
      background-size: cover;
      background-position: center;
    }
  }

  .business {
    padding: 80px 0;
    background: $background-color;

    .row {
      .col {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid $light-color;

        &:last-child {
          border: none;
        }

        h3 {
          @include heading($font-22, 400);
          font-family: $secondary-font;
        }

        h1 {
          @include heading($font-50, 400);
          margin-bottom: 20px;
          font-family: $secondary-font;
        }

        p {
          @include heading($font-16, 400);
        }
      }
    }
  }

  .process {
    padding: 80px 0;

    .process-container {
      margin-top: 100px;

      .left {
        padding-top: 30px;

        .left-box {
          padding-bottom: 10px;
          margin-bottom: 20px;
          border-bottom: 1px solid $light-color;
          width: 90%;

          h3 {
            @include heading($font-30, 400, $text-color);
            font-family: $secondary-font;
            margin-bottom: 22px;
          }

          p {
            @include body-text($font-16, 400, $black);
          }
        }
      }

      .right {
        height: 600px;
        background-image: url('../../../public/images/agility-image.svg');
        background-size: cover;
        background-position: center;
      }
    }
  }

  .pricing {
    padding: 80px 0;
    background: $background-color;

    .pricing-box {
      margin: 50px auto;
      width: 60%;
      border-radius: 10px;
      background: $white;
      padding: 50px 80px;
      text-align: center;

      .top {
        @include body-text($font-12, 400, $text-color);
        background: $background-color;
        border-radius: 25px;
        text-align: center;
        padding: 10px;
        width: 200px;
        margin: 0 auto;
        margin-bottom: 20px;
      }

      h2 {
        @include heading($font-22, 400);
        margin: 0 auto;
        margin-bottom: 29px;
        width: 50%;
        line-height: 33px;
      }

      .box {
        border: 1px solid $border-color;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        column-gap: 20px;
        margin: 0 auto;
        border-radius: 10px;
        font-size: $font-14;
        margin-bottom: 14px;
      }
    }
  }
}
