.news {
  overflow-x:hidden;
  
  .news-body {
    padding: 100px 10px;

    .heading {
      margin-bottom: 47px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        @include heading($font-40, 400);
        font-size: $secondary-font;
      }

      .form-select {
        width: 150px;
        height: 40px;
      }
    }

    .news-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid $border-color;
      padding: 60px 20px 35px 20px;

      @media (max-width: 500px) {
        padding: 50px 10px 30px 10px;
      }

      &:last-child {
        border-bottom: 1px solid $border-color;
      }

      .news-box {
        width: 90%;

        p {
          @include body-text($font-12, 400, $text-color);
          text-transform: uppercase;
          margin-bottom: 10px;
        }

        h3 {
          @include heading($font-22, 400);
          width: 80%;
          line-height: 40px;

          @media (max-width: 991px) {
            width: 100%;
            font-size: 20px;
          }
        }
      }

      .arrow {
        height: 40px;
        width: 40px;
        max-width: 40px;
        border-radius: 50%;
        border: 2px solid $text-color;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: $transitions;

        &:hover {
          background: $black;

          .bi {
            color: $white;
          }
        }

        .bi {
          font-size: 20px;
        }
      }
    }
  }
}

// news details
.news-details {
  padding: 180px 0px 150px 0px;

  @media (max-width:500px){
    padding-top:130px;
  }

  small {
    @include body-text($font-16, 400, $text-color);
    margin-bottom: 29px;
    display: block;
  }

  h1 {
    @include heading($font-32, 400);
    font-family: $secondary-font;
    margin-bottom: 56px;
    line-height: 53px;
  }

  p {
    @include body-text($font-16, 400, $text-color);
    line-height: 35px;
  }

  .contact {
    margin-top: 51px;

    h2 {
      @include heading($font-22, 600);
      margin-bottom: 16px;
    }

    p {
      @include body-text($font-16, 400, $text-color);
      margin-bottom: 9px;
    }
  }
}
