.news {
  // height:100vh;

  .news-hero {
    height: 100vh;
    background-image: url('../../../public/images/news-hero.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 50px;
    padding-top: 80px;

    h1 {
      @include heading($font-46, 700, $white);
      margin-bottom: 26px;
      font-family: $secondary-font;
      width: 55%;
      line-height: 60px;
    }

    p {
      @include body-text($font-16, 400, $white);
      margin-bottom: 8px;
    }
  }

  .news-body {
    padding: 100px 10px;

    .heading {
      margin-bottom: 47px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2{
         @include heading($font-44, 400);
         font-size:$secondary-font;
      }

      .form-select {
        width: 200px;
        height:55px;
      }
    }

    .news-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid $border-color;
      padding: 60px 20px 35px 20px;
      

      &:last-child{
        border-bottom:1px solid $border-color;
      }

      .news-box {
        p {
          @include body-text($font-12, 400, $text-color);
          text-transform: uppercase;
          margin-bottom:10px;
        }

        h3 {
          @include heading($font-24, 400);
          width:80%;
          line-height:40px;
        }
      }

      .arrow{
        height:40px;
        width:40px;
        border-radius:50%;
        border:2px solid $text-color;
        display:flex;
        align-items:center;
        justify-content:center;
        cursor:pointer;
        transition:$transitions;

        &:hover{
          background:$black;

          .bi{
            color:$white;
          }
        }
        

        .bi{
          font-size:20px;
        }
      }
    }
  }
}
