.blog {
  background: $white;
  padding: 80px 0px;

  // @media (min-width:1240px){
  //   padding: 80px 50px;
  // }

    .explore{
        @include heading($font-16, 400, $black);
        margin-bottom:35px;
        text-transform: uppercase;

    }

    .dash{
        width:50px;
        height:2px;
       background:$black;
       margin-top:15px;
       margin-left:5px;
    }

  .blog-card {
    box-shadow: 1.5px 1.5px 16px 0px rgba(113, 113, 115, 0.1);
    background: $white;
    margin-bottom:40px;
    cursor: pointer;

    .blog-image {
      height: 250px;
      position:relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .tag{
        text-transform: uppercase;
        padding:5px;
        background:$black;
        color:$white;
        position:absolute;
        left:5%;
        top:5%;
        font-size:$font-12;
      }
    }

    .blog-content {
      padding: 25px 10px 35px 10px;

      @media (min-width:1240px){
         padding: 25px 20px 35px 20px;
      }

      .blog-heading {
        @include heading($font-18, 400, $black);
        font-family: $secondary-font;
        margin-bottom:20px;
      }

      p {
        @include body-text($font-12, 400, $black);
        text-transform:uppercase;
      }
    }
  }
}
