.client-card {
  border-radius: 5px;
  background: $white;
  padding: 30px 20px;
  cursor: pointer;
  height:380px;
  margin-bottom:20px;
box-shadow: 0px 16px 50px 0px rgba(171, 168, 168, 0.25);
 transition:$transitions;
 position:relative;


  h2 {
    @include heading($font-22, 400);
    margin-bottom: 21px;
    font-family: $secondary-font;
  }

  p {
    margin-bottom: 90px;
  }

  small {
    position:absolute;
    bottom:10%;
    left:5%;
    text-decoration: underline;
  }
}
