.our-process {
  // height:100vh;

  .process-hero {
    height: 100vh;
    background-image: url('../../../public/images/client-hero.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 50px;

    h1 {
      @include heading($font-42, 700, $white);
      margin-bottom: 26px;
      font-family: $secondary-font;
      width: 55%;
      line-height: 60px;
    }

    p {
      @include body-text($font-18, 400, $white);
      margin-bottom: 8px;
      width: 50%;
      line-height: 30px;
    }
  }

 .approach{
  padding:80px 0;

  .approach-left{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction:column;
    
    h1{
      @include heading($font-48, 700);
      font-family:$secondary-font;
    }
    h2{
      @include heading($font-24, 700);
      margin-bottom:10px;
      font-family:$secondary-font;
    }

    p{
      @include body-text($font-16, 400, $text-color);
      margin-bottom:10px;
    }
  }

  .approach-right{
   p{
      @include body-text($font-16, 400, $text-color);
      margin-bottom:10px;
    }
  }

  /* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  margin-top: 120px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: $border-color;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}


.timeline-box {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;


}

.timeline-box::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -10px;
  background-color: $white;
  border: 4px solid $black;
  top: 150px;
  border-radius: 50%;
  z-index: 1;
  padding:5px;
}


.left {
  left: 0;
}


.right {
  left: 50%;
}


// .left::before {
//   content: " ";
//   height: 0;
//   position: absolute;
//   top: 22px;
//   width: 0;
//   z-index: 1;
//   right: 30px;
//   border: medium solid white;
//   border-width: 10px 0 10px 10px;
//   border-color: transparent transparent transparent white;
// }


// .right::before {
//   content: " ";
//   height: 0;
//   position: absolute;
//   top: 22px;
//   width: 0;
//   z-index: 1;
//   left: 30px;
//   border: medium solid white;
//   border-width: 10px 10px 10px 0;
//   border-color: transparent white transparent transparent;
// }


.right::after {
  left: -15px;
}


.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  box-shadow: 1.50133px 1.50133px 16px -1.50133px rgba(19, 21, 27, 0.10);

  small{
    @include body-text($font-12, 600, $text-color);
    margin-bottom:5px;
    text-transform:uppercase;
  }

  h2{
    @include heading($font-34, 400);
    font-family:$secondary-font;
    margin-bottom:5px;
  }

    p{
    @include body-text($font-16, 400, $text-color);
    margin-bottom:10px;
    line-height:30px;
  }

  .time{
    padding:8px 10px;
    border-radius:25px;
    width:280px;
    background:$background-color;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:$font-12;
    margin-top:50px;
  }
}

@media screen and (max-width: 600px) {

  .timeline::after {
  left: 31px;
  }
  

  .timeline-box {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  

  .timeline-box::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }


  .left::after, .right::after {
  left: 15px;
  }
  

  .right {
  left: 0%;
  }
}
  
}
}
