.different {
  padding: 80px 0;
  background: $background-color;

  .different-center {
    margin-top: 75px;

    .table-container {
      padding:0 50px;

      table {
        margin-bottom: 0;
        width: 100% !important;
        border:8px solid $border-color;
        border-radius:10px!important;

        th {
          @include body-text(16px, 600, $text-color);
          padding: 20px 10px;
          text-align:center;
          width:15%;

          &:first-child{
            width:30%;
          }

          &.white{
            background:$white;
          }
        }

        tr {
          border-bottom: 1px solid $border-color;
        

          td {
            @include body-text(16px, 400, $text-color);
             padding: 20px;
             background:$background-color;
             
             &.check{
              text-align:center;
             }

             &.white{
            background:$white;

          }
          .bi{
            font-size:$font-20
          }

          }
        }
      }
    }
  }
}
